.App {
  text-align: center;
  color: white;
}
.discover-select{
  background: rgb(31, 30, 30);
  color: rgb(219, 212, 212);
  border: none;
  border-radius: 10%;
  padding: 10px;
}

.discover-select:focus{
  border: 1px solid black;
}